[data]
git_name = {{ promptStringOnce . "git_name" "Git full name" | quote }}
git_email = {{ promptStringOnce . "git_email" "Git email" | quote }}
github_user = {{ promptStringOnce . "github_user" "GitHub username" | quote }}
